

<app-header></app-header>

<div >


<img class="img"  src="/assets/fig48.jpeg" width="400px" alt="Kundan">

<img class="img1" src="/assets/img54.png"  alt="Kundan">
<img class="img2" src="/assets/img52.jpeg"  alt="Kundan">
</div>
<button class="button">
<a href="https://www.youtube.com/channel/UCAKTA8AxnN0tEURPMbvT3Fw"> My Youtube account </a>

</button>
<br>
<button class="facebook">
<a href="https://www.facebook.com/kundan.rajak.182"> Facebook </a>
</button>

<button class="linkedIn">
    <a href="https://www.youtube.com/channel/UCAKTA8AxnN0tEURPMbvT3Fw"> LinkedIn </a>
    </button>
<router-outlet></router-outlet>


